<md-dialog aria-label="Equipamento" flex="50">
    <form ng-cloak ng-submit="EquipamentosFormCtrl.submitForm()" name="equipamento-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Usuario</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="EquipamentosFormCtrl.closeModal()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" >
                <input type="hidden" name="idEquipamento" ng-model="EquipamentosFormCtrl.equipamento.idEquipamento">
                <div layout="row">
                    <md-input-container flex="60">
                        <label>Nome</label>
                        <input type="text" maxlength="100" id="nome" required  md-maxlength="100" ng-model="EquipamentosFormCtrl.equipamento.nomeEquipamento">
                    </md-input-container>

            <md-input-container flex="40">
                <input type="file" id="foto" aria-label="Foto" name="foto" ng-show="false">
                <md-button class="md-raised" ng-click="TipoDeEquipamentoFormCtrl.upload()" >
                    Foto
                </md-button>
                <small ng-show="TipoDeEquipamentoFormCtrl.equipamento.foto">
                    <a href="{{TipoDeEquipamentoFormCtrl.equipamento.foto}}" class="link" target="_blank">
                        <i class="zmdi zmdi-file zmdi-hc-2x"></i>
                    </a>
                    Clique no icone para baixar o arquivo atual
                </small>
            </md-input-container>
                </div>
				<div layout="row">
			        <md-input-container flex="100">
			          <label>Descrição</label>
			          <textarea ng-model="TipoDeEquipamentoFormCtrl.equipamento.descricao" rows="3" md-select-on-focus></textarea>
			        </md-input-container>
                </div>
                
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <p style="color: red;" id="exception"></p>
            <span flex></span>
            <md-button ng-click="EquipamentosFormCtrl.closeModal()">
                Cancelar
            </md-button>
            <md-button type="submit" class="md-primary">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>