<md-content flex layout-padding class="layout-fill" ng-controller="SalasDeReuniaoController as SalasCtrl" ng-init="SalasCtrl.carregarSalasDeReuniao()">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Salas de Reunião</span>
        </h2>
    </md-toolbar>

    <table class="table mdl-data-table" style="width: 100%;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Capacidade</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="sala in SalasCtrl.salasDeReuniao">
                <td >{{sala.nomeSala}}</td>
                <td >{{sala.capacidade}}</td>
                <td width="10">
                    <md-button class="md-fab md-warn md-mini" aria-label="Editar" ng-click="SalasCtrl.openModal(event, sala);">
                        <i class="zmdi zmdi-edit"></i>
                    </md-button>
                    <md-button class="md-fab md-danger-bom md-mini" aria-label="Editar" ng-click="SalasCtrl.excluir(event, sala.idSala, $index);">
                        <i class="zmdi zmdi-close"></i>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
    <md-fab-speed-dial md-direction="up" class="md-fling md-primary md-fab-bottom-right"  ng-click="SalasCtrl.openModal()">
      <md-fab-trigger>
        <md-button aria-label="Add..." class="md-primary md-fab"><i class="zmdi zmdi-plus zmdi-hc-lg"></i></md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
</md-content>