<!DOCTYPE html>
<html lang="pt" ng-app="salasDeReuniao">
    <head>
        <title>Sistema Gerenciador de Salas de Reunião</title>
        <link rel="stylesheet" href="./webjars/angular-material/1.1.1/angular-material.min.css">
        <link rel="stylesheet" href="./assets/css/material-icons/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="./assets/plugins/material-datetime-picker/css/material-datetimepicker.min.css">
        <link rel="stylesheet" href="./assets/css/app.css">
    </head>
    
    <body ng-controller="AppController">
        <header></header>
        
        <section layout="row" style="height: 80%;">
            <sidebar layout="column"></sidebar>

            <div flex>
                <ng-view/>
            </div>
        </section>
        <!--AppConfig-->
        <script type="text/javascript" src="./assets/js/config/appConfig.js"></script>
        
        <!-- JQuery -->
        <script type="text/javascript" src="./webjars/jquery/3.1.0/dist/jquery.min.js"></script>

        <!-- Angular.JS -->
        <script type="text/javascript" src="./webjars/angular/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="./webjars/angular-route/1.5.8/angular-route.min.js"></script>
        <script type="text/javascript" src="./webjars/angular-animate/1.5.8/angular-animate.min.js"></script>
        <script type="text/javascript" src="./webjars/angular-aria/1.5.8/angular-aria.min.js"></script>
        <script type="text/javascript" src="./webjars/angular-messages/1.5.8/angular-messages.min.js"></script>

        <!--Angular Material-->
        <script type="text/javascript" src="./webjars/angular-material/1.1.1/angular-material.min.js"></script>

        <!--App.js-->
        <script type="text/javascript" src="./assets/js/App.js"></script>

        <!--Plugins-->
        <script type="text/javascript" src="./assets/js/plugins/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="./webjars/moment/2.15.1/moment.js"></script>
        <script type="text/javascript" src="./assets/plugins/material-datetime-picker/js/angular-material-datetimepicker.js"></script>
        
        <!--Router-->
        <script type="text/javascript" src="./assets/js/config/router.js"></script>
        
        <!--Send Service-->
        <script type="text/javascript" src="./assets/js/service/sendService.js"></script>

        <!--Eits-ng-->
        <script type="text/javascript" src="./webjars/eits-ng/1.1.0-SNAPSHOT/eits-ng.js"></script> 
        <script type="text/javascript" src="./webjars/eits-ng/1.1.0-SNAPSHOT/broker/dwr-broker.js"></script>

        <!--Controllers-->
        <script type="text/javascript" src="./assets/js/controllers/AppController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/AgendamentoController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/AgendamentoFormController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/UsuarioController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/UsuarioFormController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/SalasDeReuniaoController.js"></script>
        <script type="text/javascript" src="./assets/js/controllers/SalasDeReuniaoFormController.js"></script>
        
        <!--Directives-->
        <script type="text/javascript" src="./assets/js/directives/HeaderDirective.js"></script>
        <script type="text/javascript" src="./assets/js/directives/SideBarDirective.js"></script>
        <script type="text/javascript" src="./assets/js/directives/PaginationDirective.js"></script>
        
        <!--DWR-->
        <script src="./assets/js/dwr/engine.js"></script>
    	<script src="./assets/js/dwr/util.js"></script>
        
    </body>
</html>
